<html>
  <body>
    <form>
      <h2>LOGIN</h2>
      inserisci nikname:<input type="text" #nikname><br>
      inserisci password:<input type="text" #psw><br>
      <button (Click)="log(nikname, psw)">login</button>
      <br>
      <br>
      <br>
      <h2>REGISTRATI</h2>
      inserisci nome:<input type="text" #nome><br>
      inserisci cognome:<input type="text" #cognome><br>
      inserisci nikname:<input type="text" #nikname><br>
      inserisci email:<input type="text" #email><br>
      inserisci password:<input type="text" #psw><br>
      inserisci telefono:<input type="text" #telefono><br>
      <button (Click)="reg(nome, cognome, nikname, email, psw, telefono)">registrati</button>
    </form>
    <div><app-userlist *ngFor="let p of utente" [utente] = "p"></app-userlist> </div>
  </body>
</html>
